html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 7%;
  padding-right: 7%;
}
header {
  margin: 0.5rem 0;
}
p {
  margin: -7px;
  padding: 0;
  line-height: 1.1;
}
div p {
  font-size: 0.9rem;
}
label[for='participants'] {
  padding: 2rem 0;
}
select.col-5,
input.col-5 {
  padding-left: 0;
}
#members {
  height: 40px;
  padding: 7px;
  margin: 5px 40px;
  border: solid 1px;
  border-radius: 0.25rem;
  width: 180px;
  font-weight: 600;
}
#calendar {
  width: 100%;
}
.title {
  font-size: 2rem;
}
.row {
  margin-right: 0;
  margin-left: 0;
  .col:first-child {
    padding-top: 20px;
  }
  div {
    text-align: center;
    height: 70px;
    padding: 5px;
  }
}
.heading {
  background-color: #fad586;
  .col {
    padding: 20px 0;
  }
}
.new-event-btn {
  margin: 5px 0 10px 40px;
  border: solid 1px;
  width: 150px;
  font-weight: 600;
  &:hover {
    background-color: #fad586;
  }
}
.modal-form {
  padding: 0 2rem;
}
.modal-content {
  border: none;
}
.modal-dialog {
  margin: 4rem auto;
}
.modal-header p {
  margin: 0;
  text-align: center;
}
.modal-footer {
  padding: 0 2rem;
}
.event {
  background-color: #a6f0c6;
}
.event-title {
  font-weight: bold;
  margin-top: 0.5rem;
  line-height: 0.8;
}
.event-delete {
  font-size: 1.1rem;
}
.warning {
  background-color: #ffb3b3;
}
.hide {
  visibility: hidden;
}
.hovered {
  background-color: #bbdfc8;
}
